:root {
    --main-color: #f7f0f0;
    --linear-color1: #f72f54;
    --linear-color2: #f77272;
    --orange-color3: #f8855c;
    --yellow-color4: #f2DA63;
}
*{
    margin: 0;
    padding: 0;
    font-weight: 600;
    font-family: 'poppins',sans-serif;
}
.contaner{
    display: flex;
}
button{
    border: 0;
}
.getinfo{
    visibility: hidden;
    transition: transform 2s top 2s;
    top: 0;
    left: 50%;
    transform: translate(-50%,-50%) scale(1) ;
}
.getinfoopen{
    visibility: visible;
    top: 50%;
    transform: translate(-50%,-50%) scale(1);
}
.letter{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 2em;
    font-size: 1.5em;
    background: var(--linear-color1);
    color: #f2DA63;
}
.letter button{
    border: none;
    border-radius: 10px;
    margin-left: 1em;
    font-size: 1.5rem;
    font-weight: 600;
    background: var(--orange-color3);
    padding: 0.5em 1em;
    color: var(--main-color);
}
.toinfo{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: linear-gradient(#f72f54,#f2DA63);
}
.toinfo h4{
    color: var(--yellow-color4);
    font-size: 1.5rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center ;
}
.toinfo h4 button,.toinfo h4 input{
    margin: 50px 20px;
    padding: 0.5em;
    border: 0;
    border-radius: 10px;
    margin-top: 1em;
    color: #cbbd77;
}
.textareaforuser{
    text-align: center;
    
    background: linear-gradient(#f2DA63,#f77272);
    padding-top: 0.1em;
}
.textareaforuser textarea{
    padding: 1em;
    border-radius: 10px;
}
.midelbar{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: color-mix(in srgb, #f72f54 70%, #f7f0f0 30%);

}
i{
    color: var(--yellow-color4);
    font-size: 1.5rem;
}
.midelbar{
    background: color-mix(in srgb, var(--linear-color1) 70%, #f7f0f0 30%);
}
.midelbar div i{
    margin: 10px; 
}
.status{
    display: flex;
    justify-content: space-evenly;
    padding-top: 1em;
    padding-bottom: 9px;
    background: color-mix(in srgb, var(--linear-color1) 60%, var(--yellow-color4) 30%);
}
.status button,.status select{
    background: var(--linear-color1);
    padding: 10px;
    border-radius: 10px;
    
}
.center{
    display: flex;
    justify-content: center;
    margin-top: 9px;
}
.center button{
    display: flex;
    text-align: center;
    justify-content: space-between;
    align-items: center;
}
.btn{
    text-align: center;
    padding: 1em;
    border-radius: 10px;
    background: rgb(223, 118, 38);
}
.btn button{
    display: flex;
    justify-content: space-between;
}
@media(max-width:740px){
    .letter button{
        
        margin-top: 1em;
    }
}